                                                                                                                                      /* CSS Document */
.border-bt a{color: #000000;}/*基于common2.0样式a标签样式*/
ul,li,ol,dl,dd,dt{ list-style:none; margin:0; padding:0;}
.fl{ float:left;}
.fr{ float:right;}
.mt10{ margin-bottom:10px;}
.mt20{ margin-bottom:20px;}
.mt30{ margin-bottom:30px;}
.mt80{ margin-bottom:80px;}
.mr10{ margin-right:10px;}
.mr20{ margin-right:20px;}
.block{ display:block;}
.block:hover{ text-decoration:none;}
.center{ text-align:center;}
.color-666{ color:#666;}
.color-999{ color:#999;}
.color-53ce25{ color:#53ce25;}
.color-64c333{ color: #64c333;}
.red{ color:#ff0000;}
.content-pd60{ padding:60px 0;}
.content-pd30{ padding:30px 0;}
.font-12{ font-size:12px;}
.font-16{ font-size:16px;}
.w500{ width:500px;}
.w570{ width:570px;}
.w158{ width:158px;}
.width218{ width:218px;}
.bg-fff{ background: #fff;}
/*弹性盒子左右分配垂直居中*/
.cell{
	display: -webkit-box; /*Safari and Chrome */
  	display: -ms-flexbox;
	display: -moz-box; /*Firefox */
  	display: flex;
  	-webkit-box-align: center;
  -webkit-align-items: center;
       -ms-flex-align: center;
          align-items: center;
}
.cell_primary{
	-webkit-box-flex: 1;/* Safari and Chrome */
	   -moz-box-flex: 1; /* Firefox */
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
}
.cell_primary2{
	-webkit-box-flex: 2;/* Safari and Chrome */
	   -moz-box-flex: 2; /* Firefox */
        -webkit-flex: 2;
            -ms-flex: 2;
                flex: 2;
}
.cell_primary3{
	-webkit-box-flex: 3;/* Safari and Chrome */
	   -moz-box-flex: 3; /* Firefox */
        -webkit-flex: 3;
            -ms-flex: 3;
                flex: 3;
}
.cell_primary4{
	-webkit-box-flex: 4;/* Safari and Chrome */
	   -moz-box-flex: 4; /* Firefox */
        -webkit-flex: 4;
            -ms-flex: 4;
                flex: 4;
}
.cell_primary5{
	-webkit-box-flex: 5;/* Safari and Chrome */
	   -moz-box-flex: 5; /* Firefox */
        -webkit-flex: 5;
            -ms-flex: 5;
                flex: 5;
}
/*弹性盒子end*/

/*弹出层css*/
.bg-box{width:100%; height:100%; background:#000000; opacity:0.6; z-index:88; position:fixed; }
.pop-up-box{ z-index:99; position:fixed; top:50%; left:50%; background:#fff;  }
.ewm-box{ width:400px; height:400px; margin-left:-200px; margin-top:-200px; padding:50px; text-align:center;}
.closed{ position: absolute; top:10px; right:10px; z-index:100; font-size:24px;}
/*注册页面css*/
.center-box{ background:#fff; margin:150px 0; text-align: center;  padding: 30px;}
.center-box .logobox{text-align:center;}
.register-main{ text-align: center; width: 430px; margin: 0 auto;}
.center-box .logobox p{ font-size:24px;}
.center-box input{ width:430px; height:50px; font-size:16px;}
.center-box .text02 { width:256px;}
.right{ margin-left:10px; line-height:50px; color: #53ce25;}
.warning{color:#ff0000; text-align: left; margin-bottom: 20px;}
.validate a{ width:150px; padding: 12px; font-size:16px; color:#fff; text-align:center; margin-left:20px; display: inline-block;}
.validate a.wait-validate{ background:#a0a0a0;}
.validate a.wait-validate:hover{ color: #fff;}
.Already-user{ width:430px;}
.copyright{ width:100%;  margin:0 auto; position: fixed; bottom: 10px;}

/*登录页面css*/
.form-group{ display: inline-block;}
.login-wrap{ width: 430px; margin: 0 auto;}
.Already-user span{ margin:0 10px;}
/*注册成功页面css*/
.register-success p{ margin-top:30px;}
.divider-w1000{ width:1000px; height:1px; background:#e5e5e5; margin:60px auto;}
.padding-20{ padding:20px;}
.nextstep-btn{ display:inline-block;  padding:8px 20px; margin-right:10px;}
/*完善信息第一步css*/
.step-box{ width:450px; float:right;}
.step-pic{ height:32px; background:url(../images/step_03.png) no-repeat; margin-bottom:10px;}
.step-pic1{ background-position: 25px -5px;}
.step-word span{ margin-right:43px; color:#999;}
.step-word span.color-64c333{ color:#64c333;}
.stepwrapbox{ background:#fff; margin:30px 0;}
.stepwrap1{ padding:30px 0; width: 640px; margin: 0 auto; }
.stepwrap1 h2{ text-align:center; margin-bottom:40px;}
.stepwrap1 .cell-logobox{ padding-left:105px; margin-bottom:50px;}
.stepwrap1 .cell-logobox .my-pic{ margin-right:30px; position:relative;}
.stepwrap1 .cell-logobox .my-pic .delete-pic{ width:100%; position:absolute; bottom:0; height:30px; line-height:30px; background:#333; opacity:0.8; margin-bottom:0; text-align:center;}
.stepwrap1 .cell-logobox .my-pic .delete-pic a{ color:#fff; font-size:16px;}
.stepwrap1 .cell-logobox .upload{ display:block; border:1px solid #dcdcdc; border-radius:4px; padding:10px 0; color:#666; font-size:18px; width:190px; text-align:center; margin-top:30px;}
.stepwrap1 .cell-logobox .upload:hover{ background:#64c333; color:#fff; text-decoration:none;}
.stepwrap1 .cell-logobox .upload span{ margin-right:10px;}
.form-horizontal .form-group{ width: 100%;}
.keep-box{ margin:30px 0; padding-left:108px;}
/*完善信息第二步css*/
.step-pic2{ background-position: 25px -45px;}
.stepwrap2{ padding:30px 200px;}
.stepwrap2 table{ margin-bottom:200px;}
.stepwrap2 table td{ padding:10px 0;}
.binding-wx{ display:inline-block; padding:5px 20px; border:1px solid #ccc; border-radius:2px; color:#333;}
.binding-wx:hover{ color:#fff; background:#64c333; text-decoration:none; }
.After-binding{ display:inline-block; padding:5px 20px; border:1px solid #e5e5e5; border-radius:2px; color:#999;}
.binding-success{ position:fixed; top:50%; left:50%; width:240px; height:80px; margin-left:-120px; background:#b2b2b2; opacity:0.8; border-radius:4px; }
.binding-success p{ color:#fff; text-align:center; line-height:80px;}
.binding-success p span{ display:inline-block; padding:4px; background:#12ba00; border-radius:50%; margin-right:5px;}
/*完善信息第三步css*/
.step-pic3{ background-position: 25px -84px;}
.stepwrap4{ padding:30px 200px 50px;}
.stepwrap4 .coupon-box{ width:420px; height:150px; background: url(../images/yhq_03.png) no-repeat; margin:0 auto 10px; position:relative; }
.stepwrap4 .coupon-box .expiry-date{ position:absolute; bottom:20px; left:50px; color:#999;}

/*完善信息第四步css*/
.step-pic4{ background-position: 25px -123px;}
.stepwrap4{ padding:30px 200px 50px;}
.stepwrap4 ul{ width:470px; margin:0 auto 50px;}
/*404页面css*/
.mp-and-mt20{ margin: 20px 0;}
.box404{ margin: 120px 0;}
.pic404{ width: 480px; margin: 0 80px;}
.nofind-classbox-list .classbox:hover{ box-shadow: 0 5px 10px #ccc;}
.nofind-classbox-list .classbox,.box404 img{ width: 100%;}
.nofind-classbox-list .class-introduction{ padding:15px;}
.nofind-classbox-list .class-introduction h5{ overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.box404 h1{ color:#e36c08; margin-bottom: 15px;}
.box404 p{ color: #999;}
.box404 span{ margin: 0 10px;}
.border-left-5{ border-left: 5px #0ba29a solid;}
.padding-left-10{ padding-left: 10px;}







@media (max-width: 1600px) {
  .center-box{margin:10px 0; }
}